<header>
    <div class="container">
        
    </div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <!-- <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul> -->
          </div>
        </div>
      </nav>
</header>
<section class="bg-gray-100">
   <div class="container py-5 mb-5 bg-gray-100">
  <div class="row mt-3 pt-5">
    <div class="col-md-4 mb-5 ps-3 localize  position-relative">
    </div>
    <div class="col-md-8 ps-3">
      <h1 class="ps-5 fs-3">Personal Information</h1>
      <p class="ps-5 pt-2">Help us learn a bit more about you</p>
      <div class="flex pe-5 me-5 flex-wrap mt-5">
        <div class="form-floating mb-3 ps-5 w-50">
          <input
            type="email"
            class="form-control border-0 border-bottom bg-transparent"
            id="floatingfName"
            placeholder="firstname"
          />
          <label for="floatingfName" class="text-muted ps-5 ms-2"
            >First Name</label
          >
        </div>
        <div class="form-floating mb-3 ps-5 w-50">
          <input
            type="text"
            class="form-control border-0 border-bottom bg-transparent"
            id="floatingLName"
            placeholder="lastname"
          />
          <label for="floatingLName" class="text-muted ps-5 ms-2"
            >Last Name</label
          >
        </div>
        <div class="form-floating mb-3 ps-5 w-50">
          <select
            class="form-select border-0 border-bottom bg-transparent"
            id="floatingCountry"
            placeholder="Select Your Country"
          >
            <!-- <option selected></option> -->
          </select>
          <label for="floatingCountry" class="text-black ps-5 ms-3 fs-5"
            >Country</label
          >
        </div>
        <div class="form-floating mb-3 ps-5 w-50">
          <select
            class="form-select border-0 border-bottom bg-transparent"
            id="floatingNationality"
            placeholder="Select Your Nationality"
          >
            <!-- <option selected></option> -->
          </select>
          <label for="floatingNationality" class="text-black ps-5 ms-3 fs-5"
            >Nationality
          </label>
        </div>
        <div class="form-floating mb-3 ps-5 w-50">
          <input
            type="date"
            class="form-control border-0 border-bottom bg-transparent"
            id="floatingBirthday"
            placeholder="Select Your birthday"
          />
          <label for="floatingBirthday" class="text-black ps-5 ms-3 fs-5 pt-2"
            >Birthday</label
          >
        </div>
        <div class="form-floating mb-3 ps-5 w-50">
          <select
            class="form-select border-0 border-bottom bg-transparent"
            id="floatingGender"
            placeholder="Select Your Gender"
          >
            <!-- <option selected></option> -->
          </select>
          <label for="floatingGender" class="text-black ps-5 ms-2 fs-5"
            >Gender
          </label>
        </div>
        <div class="form-floating mb-3 ps-5 w-50">
          <input
            type="text"
            class="form-control border-0 border-bottom bg-transparent"
            id="floatingID"
            placeholder="ID"
          />
          <label for="floatingID" class="text-muted ps-5 ms-3"
            >National ID</label
          >
        </div>
      </div>
      <div class="row ps-5 mt-5 justify-content-between pe-5 me-5">
        <button class="btn btn-secondary w-auto ms-4 my-2 bg-transparent text-muted border-gray-400">Skip For Now</button>
        <button class="btn btn-secondary w-auto ms-4 my-2 px-5 text-white border-gray-400">Next</button>

      </div>
    </div>
  </div>
</div>
 
</section>
